@charset 'utf-8';

:root{
    --body-bg: rgb(0, 0, 0);
    --header-bg: rgba(66, 66, 66, .50);
    --header-border-bottom:rgb(61, 131, 43);
    --header-h1: green;
    --header-h1-shadow: rgb(104, 250, 104);
    --header-a: rgb(3, 102, 3);
    /* --header-a-shadow: rgb(104, 250, 104); */
    --header-a-shadow: 104, 250, 104;
    --header-a-hover: rgb(8, 139, 8);
    --header-a-active: rgb(8, 87, 8);

    --main-color: rgb(104, 250, 104);
    
}

html {
    height: 100%;
    width: 100%;
}

body {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px;
    background-color: var(--body-bg);
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-bg);
    border-bottom: 2px solid var(--header-border-bottom);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header h1 {
    display: block;
    line-height: 60px;
    margin: 20px;
    font-size: 50px;
    font-weight: bold;
    color: var(--header-h1);
}

header navbar {
    padding: 0px;
    margin: 0px;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

header a {
    line-height: 60px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;

    padding: 30px;
    color: var(--header-a);
}   

.current {
    text-decoration-line: underline;
    text-decoration-color: var(--header-a-hover);
    text-underline-offset: 8px;
    text-decoration-thickness: 3px;
}

header a:hover {
    color: var(--header-a-hover);
    text-shadow: 0px 0px 5px rgba(var(--header-a-shadow),.6);
} 

header a:active {
    color: var(--header-a-active);
} 

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.my_slogan {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em;
    color: var(--main-color) ;
}

.my_slogan p {
    margin: 10px;
    text-align: center;
}

.about_me {
    width: 80%;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    color: var(--main-color) ;
}

.about_me p {
    font-size: 1.5em;
    justify-self: flex-start;
    margin: 10px;
    text-align: justify;
}

.about_me ul{
    align-self: flex-start;
    line-height: 2;
}

.work_experience {
    width: 80%;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--main-color) ;
}

.work_experience h1 {
    align-self: flex-start;
    margin: 10px;
    text-align: start; 
}

.work_experience h2 {
    align-self: flex-start;
    margin: 10px;
    text-align: start; 
}

.work_experience p {
    align-self: flex-start;
    margin: 10px;
    text-align: justify; 
    line-height: 1.5;
}

.work_experience ul{
    align-self: flex-start;
    line-height: 1.5;
}

.my_projects {
    width: 80%;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--main-color) ;
}

.my_projects h1 {
    align-self: flex-start;
    margin: 10px;
    text-align: start; 
}

.my_projects h3 {
    align-self: flex-start;
    margin: 10px;
    text-align: start; 
}

.my_projects p {
    align-self: flex-start;
    margin: 10px;
    text-align: justify; 
    line-height: 1.5;
}

.my_projects ul{
    align-self: flex-start;
    line-height: 1.5;
}

.my_projects a {
    text-decoration: none;
    align-self: flex-start;
    margin: 10px;
    text-align: justify; 
    line-height: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--main-color) ;
}

.my_projects a:hover {
    color: var(--main-color) ;
    color: var(--header-a-hover);
    text-shadow: 0px 0px 5px rgba(var(--header-a-shadow),.6);
} 

my_projects a:active {
    color: var(--header-a-active);
} 

.contact_me {
    width: 80%;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    color: var(--main-color) ;
}

.contact_me ul {
    line-height: 1.5;
    justify-self: flex-start;
    font-size: 2em;
    margin: 10px;
    text-align: start;
}

footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--header-bg);
    border-top: 2px solid var(--header-border-bottom);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}

footer a {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    margin: 0px;
    padding: 30px;
    color: var(--header-a);
}

footer a:hover {
    color: var(--header-a-hover);
    text-shadow: 0px 0px 5px rgba(var(--header-a-shadow),.6);
} 

footer a:active {
    color: var(--header-a-active);
}