@charset 'utf-8';

:root{
    --body-bg: rgb(88, 88, 88);
    --header-bg: rgb(66, 66, 66);
    --header-border-bottom:rgb(61, 131, 43);
    --header-h1: green;
    --header-h1-shadow: rgb(104, 250, 104);
    --header-a: rgb(3, 102, 3);
    --header-a-shadow: rgb(104, 250, 104);
    --header-a-hover: rgb(8, 139, 8);
    --header-a-active: rgb(8, 87, 8);
    
}

body {
    height: 100%;
    margin: 0px;
    background-color: var(--body-bg);
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* height: 100px; */
    background-color: var(--header-bg);
    border-bottom: 2px solid var(--header-border-bottom);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header h1 {
    display: block;
    line-height: 60px;
    margin: 20px;
    font-size: 50px;
    font-weight: bold;
    color: var(--header-h1);
}

header navbar {
    padding: 0px;
    margin: 0px;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

header a {
    line-height: 60px;
    font-size: 30px;
    font-weight: bold;

    padding: 30px;
    color: var(--header-a);
}   

header a:hover {
    color: var(--header-a-hover);
    text-shadow: 0px 0px 2px var(--header-h1-shadow);
} 

header a:active {
    color: var(--header-a-active);
} 


